<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ablaze.ChiChiCampusFinance">
    <application
        android:allowBackup="true"
        android:icon="@drawable/third"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <activity android:name="com.ablaze.ChiChiCampusFinance.account.AccountAddActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.account.AccountList" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.account.AccountDescActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.assets.AssetsAddActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.assets.AssetsList" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.assets.AssetsDescActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.aboutme.SettingActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.aboutme.ModifyPwdActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.aboutme.MyInfoView" tools:ignore="Instantiatable"/>
        <activity android:name="com.ablaze.ChiChiCampusFinance.login.LoginActivity" />
        <activity android:name="com.ablaze.ChiChiCampusFinance.login.RegisterActivity" />
        <activity 
        android:name="com.ablaze.ChiChiCampusFinance.login.SplashActivity"
        android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ablaze.ChiChiCampusFinance.MainActivity">

        </activity>
    </application>
</manifest>